dotenv

if terraform output -json gcp_project_id >/dev/null 2>&1; then
    export GCP_PROJECT_ID=$(terraform output -raw gcp_project_id)
    export CLOUDSDK_CORE_PROJECT=$GCP_PROJECT_ID
fi

if terraform output -json location >/dev/null 2>&1; then
    export CLOUDSDK_COMPUTE_ZONE=$(terraform output -raw location)
fi

if terraform output -json name >/dev/null 2>&1; then
    export CLOUDSDK_CONTAINER_CLUSTER=$(terraform output -raw name)
else
    echo "CLOUDSDK_CONTAINER_CLUSTER not set, has the cluster been created?"
fi

export PATH=../../tools/scripts:$PATH